streamlit==1.37.1
# pandasは3.12でwheelがある 2.2 系でOK
numpy>=1.26
pandas==2.2.2

# MeCab系（oSetiが必要な場合）
mecab-python3==1.0.9
# oseti を使うならここに oseti も
oseti==0.2.0


scikit-learn==1.5.1
matplotlib==3.9.0
openpyxl==3.1.5
scipy==1.13.1
seaborn==0.13.2